<!-- <h1>Login</h1>
<form action="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <br>
        <input type="email" id="email" name = "email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <br>
        <input type="password" id="password" name = "password" required>
    </div>
    <br>
    <button type="submit">Login</button>
</form>

<a href="/register">Register</a>
</body>

 -->
 <html>
    
    <head>
      
      
      <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
      <title>Login</title>
  
    <style>body {
        background-color: #F3EBF6;
        font-family: 'Ubuntu', sans-serif;
    }
    #Registerpopup{

    color: rgba(0, 169, 0, 0.898);
    font-size: 15px;
    margin: -30px;
    visibility: hidden;

    }
    .main {
        background-color: #FFFFFF;
        width: 400px;
        height: 400px;
        margin: 7em auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    }
    
    .sign {
        padding-top: 40px;
        margin-bottom: -2vh;
        color: #8C55AA;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 26px;
    }
    
    .un {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
    form.form1 {
        padding-top: 40px;
    }
    
    .pass {
            width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
    }
    
    
    .un:focus, .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
        
    }
    
    .submitbutton {
      cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background: linear-gradient(to right, #9C27B0, #E040FB);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    
    .submitbutton { transition: all .2s ease-in-out; }
    .submitbutton:hover { transform: scale(1.1); }

    .register {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.672);
        color: #E1BEE7;
        padding-top: 15px;
    }
    
    a {
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: #E1BEE7;
        text-decoration: none
    }
    
    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
        
    }</style>



    </head>
    
    <body>
      <div class="main">
        <p class="sign" align="center">Login</p>
        
        
        
    <form class="form1" action="/login" method="POST">
        <div>
          
          <input class="un"id="email" name = "email"  type="email" align="center" for="email" placeholder="Email ID" required>
          <input class="pass"id="password" name = "password"  type="password" align="center" for="password" placeholder="Password" required>

          
          <button id ="login" class="submitbutton" type="submit" align="center">Login</button>
          <p class="register" align="center"><a href="/register">Register</p>
              
        </div>
    </form>

    
         
    </body>
    


</html>